body {
    font-family: 'Work Sans', sans-serif;
}

.block {
    background: #eed;
    padding: 16px;
}

.bubble, .action {
    background: #ddc;
    padding: 16px;
    margin: 16px 0 16px 0;
}

.bubble {
    border-radius: 24px;
}

.bubble:hover {
    background: #ccb;
    cursor: pointer;
}

.bubble > .bubble > .bubble:hover {
  background: #bba;
  cursor: pointer;    
}

.bubble > .bubble.small:hover {
  background: #bba;
  cursor: pointer;    
}

.bubble.small {
    max-height: 52px;
}

.action {
  border-radius: 18px;
}

.action:hover {
    background: #c44;
}